# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Environment variables files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Audio downloads and large data files
data/downloads/
data/transcript/

# IDE/project-specific files
*.iml
.idea/

# Temporary files
*.tmp
*.temp
*~

# mypy
.mypy_cache/

# coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
